In [2]:
import pandas as pd
import numpy as np

In [3]:
data_file=pd.ExcelFile(r'data\厦航大赛数据20170809.xlsx')

In [4]:
data_file.sheet_names

['航班', '航线-飞机限制', '机场关闭限制', '台风场景', '飞行时间', '机场', '中转时间限制']

In [10]:
fligh_list=data_file.parse('航班')
fligh_line=data_file.parse('航线-飞机限制')
airport_limit=data_file.parse('机场关闭限制')
typhoon=data_file.parse('飞行时间')
airport=data_file.parse('机场')
connecting_time=data_file.parse('中转时间限制')

In [18]:
fligh_type_change=pd.DataFrame(np.array([[0.0,0.0,2.0,4.0],
                                        [0.5,0.0,2.0,4.0],
                                        [1.5,1.5,0.0,2.0],
                                        [1.5,1.5,2.0,0.0]]),
                              index=range(1,5),
                              columns=range(1,5))

In [19]:
change_fligh=[15,5]

In [23]:
fligh_delayed=pd.DataFrame(np.array([[0.0,2.0,1.0],
                            [2.0,4.0,1.5],
                            [4.0,8.0,2.0],
                            [8.0,36.0,3.0],
                            [36,np.inf,np.nan]]),
                           columns=['floor','uper','value'])

In [21]:
endorsement_delayed=pd.DataFrame(np.array([[0.0,0.6,0.0],
                                           [6.0,24.0,0.5],
                                           [24.0,48.0,1.0],
                                           [48.0,np.inf,np.nan]]),
                                 columns=['floor','uper','value'])

,floor,uper,value
0,0,0.600000,0.0
1,6,24.000000,0.5
2,24,48.000000,1.0
3,48,inf,NaN