In [2]:
import pandas as pd
import numpy as np

In [3]:
data_file=pd.ExcelFile(r'data\厦航大赛数据20170809.xlsx')

In [4]:
data_file.sheet_names

['航班', '航线-飞机限制', '机场关闭限制', '台风场景', '飞行时间', '机场', '中转时间限制']

In [5]:
fligh_list=data_file.parse('航班')

In [6]:
fligh_list.head()

,航班ID,日期,国际/国内,航班号,起飞机场,降落机场,起飞时间,降落时间,飞机ID,机型,旅客数,联程旅客数,座位数,重要系数
0,1,2017-05-05,国内,346,48,50,2017-05-05 12:20:00,2017-05-05 15:10:00,30,1,113,0,119,1
1,2,2017-05-07,国内,346,48,50,2017-05-07 12:20:00,2017-05-07 15:10:00,40,1,66,0,119,1
2,3,2017-05-08,国内,346,48,50,2017-05-08 12:20:00,2017-05-08 15:10:00,31,1,30,0,119,1
3,4,2017-05-05,国内,347,49,48,2017-05-05 21:00:00,2017-05-05 23:45:00,59,2,123,0,161,1
4,5,2017-05-06,国内,346,48,50,2017-05-06 12:20:00,2017-05-06 15:10:00,40,1,97,0,119,1

In [7]:
fligh_line=data_file.parse('航线-飞机限制')

In [8]:
fligh_line.head()

,起飞机场,降落机场,飞机ID
0,75,54,3
1,32,47,3
2,32,26,3
3,1,49,3
4,10,49,3