In [1]:
import pandas as pd
import numpy as np

In [2]:
data_file=pd.ExcelFile(r'data\厦航大赛数据20170809.xlsx')

In [3]:
data_file.sheet_names

['航班', '航线-飞机限制', '机场关闭限制', '台风场景', '飞行时间', '机场', '中转时间限制']

In [4]:
fligh_list=data_file.parse('航班')
fligh_line=data_file.parse('航线-飞机限制')
airport_limit=data_file.parse('机场关闭限制')
typhoon=data_file.parse('台风场景')
air_time=data_file.parse('飞行时间')
airport=data_file.parse('机场')
connecting_time=data_file.parse('中转时间限制')

In [5]:
fligh_type_change=pd.DataFrame(np.array([[0.0,0.0,2.0,4.0],
                                        [0.5,0.0,2.0,4.0],
                                        [1.5,1.5,0.0,2.0],
                                        [1.5,1.5,2.0,0.0]]),
                              index=range(1,5),
                              columns=range(1,5))

In [6]:
change_fligh=[15,5]

In [7]:
fligh_delayed=pd.DataFrame(np.array([[0.0,2.0,1.0],
                            [2.0,4.0,1.5],
                            [4.0,8.0,2.0],
                            [8.0,36.0,3.0],
                            [36,np.inf,np.nan]]),
                           columns=['floor','uper','value'])

In [8]:
endorsement_delayed=pd.DataFrame(np.array([[0.0,0.6,0.0],
                                           [6.0,24.0,0.5],
                                           [24.0,48.0,1.0],
                                           [48.0,np.inf,np.nan]]),
                                 columns=['floor','uper','value'])

In [30]:
typhoon

,开始时间,结束时间,影响类型,机场,航班ID,飞机,停机数
0,2017-05-06 14:00:00,2017-05-07 17:00:00,降落,49,NaN,NaN,NaN
1,2017-05-06 16:00:00,2017-05-07 17:00:00,起飞,49,NaN,NaN,NaN
2,2017-05-06 14:00:00,2017-05-07 17:00:00,降落,50,NaN,NaN,NaN
3,2017-05-06 16:00:00,2017-05-07 17:00:00,起飞,50,NaN,NaN,NaN
4,2017-05-06 14:00:00,2017-05-07 17:00:00,降落,61,NaN,NaN,NaN
5,2017-05-06 16:00:00,2017-05-07 17:00:00,起飞,61,NaN,NaN,NaN
6,2017-05-06 16:00:00,2017-05-07 17:00:00,停机,49,NaN,NaN,2
7,2017-05-06 16:00:00,2017-05-07 17:00:00,停机,50,NaN,NaN,2
8,2017-05-06 16:00:00,2017-05-07 17:00:00,停机,61,NaN,NaN,0
9,2017-05-07 04:00:00,2017-05-07 06:00:00,停机,25,NaN,NaN,11
10,2017-05-07 04:00:00,2017-05-07 06:00:00,停机,67,NaN,NaN,7

In [10]:
fligh_list.ix[fligh_line.航班号==346,:]

AttributeError: 'DataFrame' object has no attribute '航班号'

In [ ]:
fligh_list